#date, #not-found {
    font-family: RoobertPRO, sans-serif;
}

#date {
    cursor: pointer;
}

#not-found {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(97, 167, 202);
    /* background: linear-gradient(to bottom, pink, purple);     */
}

.serviceList {
    display: flex;
    flex-direction: column;
    height:100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:300px;
}

#title-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select {
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bookapp {
    padding:10px;
    border:none;
    border-radius: 50px;
    background-color: #92b1d3;
    color:#fff;
    cursor:pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.bookapp:hover {
    background-color: #7a9cc7;
    transform: scale(1.05);
}

.map {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.social img {
    width: 50px;
    height: auto;
    cursor: pointer;
}